---
layout: default
pagination:
  enabled: true
  category: reading
---
<body>
<div id="main">
    {% for post in paginator.posts %}
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href={{post.url}}>{{post.title}}</a></h2>
                </div>
                <div class="meta">
                    <time class="published" datetime="1914-12-20">{{post.date| date_to_string}}</time>
                </div>
            </header>
            <a href={{post.url}} class="image featured"><img src={{post.picture}} alt=""/></a>
            <p> {{post.excerpt}} </p>
            <footer>
                <ul class="actions">
                    <li><a href={{post.url}} class="button large">Continue</a></li>
                </ul>
            </footer>
        </article>
    {% endfor %}
    {% include pagination.html %}
</div>
</body>
